/* Set style for titlepage */
.titlepage
	{
		background-color: tan;
		border: 2px solid;
		border-radius: 15px;
		padding: 2%;
	}
/* Changes opacity upon hovering*/	
.hide:hover
 	{
 		opacity: 1;
 	}

.hide
 	{
 		opacity: 0;
 	}


/* Centre main title and make it big */
.title
	{
		font-size: 24pt;
		text-align: center;
		font-weight: bold;
	}

/* Align author name */
.author 
	{
		text-align: center;
	}

/* Some general setup specs: font and font size; */
body
	{
		font-family: Arial;
		font-size: 12pt;
	}

/* Add some padding around list items */
li
	{
		padding: 3px;
	}

/* Layout for block quotes */
blockquote
	{
		background: cornsilk;
		border: 2px solid;
		border-radius: 15px;
		padding: 2%;
	}

/* Make tables prettier */
table 
	{
    	border-collapse: collapse;
	}

table, th, td 
	{
   		border: 1px solid black;
	}

td 
	{
    	text-align: left;
    	padding: 5px;
	}

tr:nth-child(odd) 
 	{ 
 		background-color: gainsboro; 
 	}

tr:nth-child(even) 
	{ 
		background-color: white; 
	}

/* Define centred class */
.centred 
	{
		text-align: center;
	}

/* Make terms bold and blue */
span.term 
	{
		font-weight: bold;
		color: brown;
	}

/* Make English texts italic and blue */
.en 
	{	
		color: green;
	}

/* Make French texts italic and green */
.fr 
	{
		color: blue;
	}

/* Classes 'ui-tooltip' and 'arrow' are used by the tooltipster script */

.ui-tooltip, .arrow:after 
	{
    	background: black;
    	border: 2px solid white;
  	}

.ui-tooltip 
  	{
	    padding: 10px 20px;
	    color: white;
	    border-radius: 20px;
	    font: bold 14px "Helvetica Neue", Sans-Serif;
	    text-transform: uppercase;
	    box-shadow: 0 0 7px black;
  	}

.arrow {
	    width: 70px;
	    height: 16px;
	    overflow: hidden;
	    position: absolute;
	    left: 50%;
	    margin-left: -35px;
	    bottom: -16px;
  }

.arrow.top 
  	{
    	top: -16px;
    	bottom: auto;
  	}

.arrow.left 
  	{
    	left: 20%;
  	}

.arrow:after 
  	{
	    content: "";
	    position: absolute;
	    left: 20px;
	    top: -20px;
	    width: 25px;
	    height: 25px;
	    box-shadow: 6px 5px 9px -9px black;
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
  	}

.arrow.top:after 
 	{
    	bottom: -20px;
    	top: auto;
  	}

/* The 'audio' class is used in pronouncing text.  See maSound script. Not used in Moodle. */
audio
{
display: none;
}

/* Set style of presentation sections */
.presentation
	{
		background-color: ivory;
		border: 2px solid;
		border-radius: 15px;
		padding: 2%;
	}

/* Set style of exploration sections */
.exploration
	{
		background-color: beige;
		border: 2px solid;
		border-radius: 15px;
		padding: 2%
	}

/* Set style of informal quiz sections */
.quiz
	{
		background-color: white;
		border: 2px solid;
		border-radius: 15px;
		padding: 2%
	}

/* Determiners turn red when hovered over */
.det:hover
	{
		background-color: red;
		color: white;
		font-weight: bold;
	}

/* Nouns turn blue when hovered over 
.noun:hover
	{
  		background-color:blue;
  		color: white;
  		font-weight: bold;
	}
*/
/* Words with this class go to reverse video and blue when hovered over.  Combine with 'gloss' */
.eng:hover 
	{ 
		background-color: blue;
		color: white;
	}

/* Set up blocks of translations.  By default, they're hidden, but appear when hovered over */
.translation
	{
		background-color: tan;
		color: white;
		text-align: center;
	}

.translation p
	{
		display: none;
	}

.translation:hover .fred
	{
		display: block;
		padding: 3%;
		color: black;
		text-align: left;
	}

form
  {
    text-align: center;
  }

/* Put any rubrics (explanations of what to do) in italic */
.rubric 
  {
    font-style: italic;
  }

/* Set up buttons for cognate and other searches */
button 
	{
		font-size: 16px;
		border: 2px solid gray;
		border-radius: 100px;
		width: 100px;
		height: 100px;
	}

button:active 
	{
		font-size: 16px;
		border: 2px solid red;
		border-radius: 100px;
		width: 100px;
		height: 100px;
	}

/* Show all not already found cognates as blue.  Activated by button. */
.notfound 
	{
	  	background-color: blue;
	    color: white;
	}

/*Set up classes for the various parts of speech. Nf as prefix means that when a button is 
clicked, the various not found parts of speech of the particular class are shown.
See below for script.
*/
.nfnoun, .nfverb, .nfadjective, .nfadverb, .nfpreposition, .nfpronoun, .nfdeterminer
	{
	    color: white;
	    background-color: blue;
	}

/* Make sure radio buttons turn blue when clicked */
input[type=radio]:checked + label
	{
	    color: white;
	    background-color: blue;
	}

/* classes for exercise to find masculine/feminine, singular/plural */

 .nfms, .nffs, .nfmp, .nffp
	{
		color: white;
		background-color: blue;
	}

.ms .fs .mp .fp
	{
		color: white;
		background-color: gray;
	}

/* classes for exercise on finding noun phrases, verb phrases, sentence modifiers */

.nfgn
    {
      	color: white;
      	background-color: blue;
    }
    
.nfgv
    {
      	color: white;
      	background-color: orange;
    }
    
.nfgcp
    {
      	color: white;
      	background-color: violet;
    }

/* classes for moving sentences into boxes */	
.sentences 
	{
      	clear: both;
    }
    
.categories 
    {        
    	clear: both;
        justify-content: center;
    }
    
.buttons 
    {
        clear: both;
    }

.bottom 
    {
        clear: both;
    }
    
.decl_string 
    {
        width: 120px; height: 80px; padding: 0.5em; float: left;
        margin: 0px 5px 10px 0; 
    }

.interr_string 
    {
        width: 120px; height: 80px; padding: 0.5em; float: left;
        margin: 0px 5px 10px 0; 
    }
    
.imper_string 
    {
        width: 120px; height: 80px; padding: 0.5em; float: left;
        margin: 0px 5px 10px 0; 
    }
    
.excl_string 
    {
        width: 120px; height: 80px; padding: 0.5em; float: left;
        margin: 0px 5px 10px 0; 
    }
    
#decl_box 
    {
        width: 150px; height: 200px; padding: 0.5em; float: left;
        margin: 0px 5px 10px 0; 
    }
    
#interr_box 
    {
        width: 150px; height: 200px; padding: 0.5em; float: left;
        margin: 0px 5px 10px 0; 
    }
    
#imper_box 
    {
        width: 150px; height: 200px; padding: 0.5em; float: left;
        margin: 0px 5px 10px 0; 
    }

#excl_box 
    {
        width: 150px; height: 200px; padding: 0.5em; float: left;
        margin: 0px 5px 10px 0; 
    }