/*** Bootstrap Overrides ***/
/** Buttons **/
@import "https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i";
button.btn-primary:active, button.btn-secondary:active {
  box-shadow: none;
}

/** Tables **/
.table > thead > tr > th {
  border-bottom: none;
  padding: 1%;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none;
  }
  .table-responsive .table > tbody > tr > td,
  .table-responsive .table > tbody > tr > th,
  .table-responsive .table > tfoot > tr > td,
  .table-responsive .table > tfoot > tr > th,
  .table-responsive .table > thead > tr > td,
  .table-responsive .table > thead > tr > th {
    white-space: normal;
  }
}

/** Panels **/
.panel {
  background-color: transparent;
  box-shadow: none;
}

.panel-default {
  background-color: transparent;
  border: none;
}

.panel-reveal {
  border-radius: 0;
}

/** Accordions **/
.accordion .panel + .panel {
  margin-top: 0;
}

.accordion .panel-default > .panel-heading {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
}

.accordion .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}

/** Well **/
.well {
  border-radius: 0;
  box-shadow: none;
}

/** Jumbotron **/
.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 0;
}

/*** Typography ***/
/** Typography - Global **/
/* Fonts Set in course */
html,
body {
  color: #403c3d;
  font-size: 100%;
  font-weight: 400;
}

@media (min-width: 1170px) {
  html,
  body {
    font-size: 112.5%;
  }
}

/** Link Styling **/
a:link, a.btn-top:link, a.btn-bottom:link {
  color: #006FBF;
  text-decoration: none;
}

a:visited, a.btn-top:visited, a.btn-bottom:visited {
  color: #004a80;
  text-decoration: none;
}

a:hover, a.btn-top:hover, a.btn-bottom:hover {
  color: #006FBF;
  text-decoration: underline;
}

a:active, a.btn-top.active, a.btn-bottom.active {
  color: #006FBF;
  text-decoration: underline;
}


/* Typography - Extra Small, Small */
h1,
.header-one {
  color: #006FBF;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 2.1875rem;
  letter-spacing: -0.03125rem;
}

h2,
.header-two {
  color: #E57231;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.01875rem;
}

h3,
.header-three {
  color: #565A5C;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.03125rem;
  text-transform: uppercase;
}

h4,
.header-four {
  color: #565A5C;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
}

h5,
.header-five {
  color: #565A5C;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.025rem;
}

h6,
.header-six {
  color: #565A5C;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
}

.body-one {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0;
}

.body-two {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.025rem;
}

.small-one {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.01875rem;
}

.small-two, .btn-primary,
.btn-secondary {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.025rem;
}

.small-three {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.01875rem;
  text-transform: uppercase;
}

/* Typography - Medium, Large, Extra Large */
@media (min-width: 768px) {
  h1,
  .header-one {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3.125rem;
    letter-spacing: -0.03125rem;
    margin-bottom: 35px;
  }
  h2,
  .header-two {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: -0.01875rem;
    margin-bottom: 30px;
  }
  h3,
  .header-three {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875rem;
    letter-spacing: 0.03125rem;
    margin-bottom: 20px;
  }
  h4,
  .header-four {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: 0.025rem;
    margin-bottom: 20px;
  }
  h5,
  .header-five {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.875rem;
    letter-spacing: 0.025rem;
  }
  h6,
  .header-six {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: 0.025rem;
  }
  .body-one {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: 0.01875rem;
  }
  .body-two {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.00625rem;
  }
  .small-one {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.01875rem;
  }
  .small-two, .btn-primary,
  .btn-secondary {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: 0.025rem;
  }
  .small-three {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: 0.01875rem;
    text-transform: uppercase;
  }
}

/** Figcaption **/
figcaption {
  font-size: 0.8125rem;
  font-style: italic;
  line-height: 1.375rem;
  margin-top: -5px;
}

/** Icons **/
/* General Classes */
.icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  stroke-width: 0;
}

.icon-list {
  height: 20px;
  width: 20px;
}

.icon-list-md {
  height: 40px;
  width: 40px;
}

/*** Elements ***/
/** Blockquote **/
blockquote {
  border-left: 5px solid #E6EAF0;
}

/** Tooltip / Popover Styling **/
.tooltip.in {
  opacity: 1;
}

.tooltip.top .tooltip-inner, .tooltip.right .tooltip-inner, .tooltip.bottom .tooltip-inner, .tooltip.left .tooltip-inner {
  background-color: #565A5C;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 9px 14px;
}

.tooltip.top .tooltip-arrow, .tooltip.right .tooltip-arrow, .tooltip.bottom .tooltip-arrow, .tooltip.left .tooltip-arrow {
  border-top-color: #565A5C;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #565A5C;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #565A5C;
  border-top-color: transparent;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #565A5C;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #565A5C;
  border-top-color: transparent;
}

.popover.top, .popover.right, .popover.bottom, .popover.left {
  background-color: #565A5C;
  color: #FFFFFF;
  font-size: 1rem;
}

.popover.top > .arrow:after {
  border-top-color: #565A5C;
}

.popover.right > .arrow:after {
  border-right-color: #565A5C;
}

.popover.bottom > .arrow:after {
  border-bottom-color: #565A5C;
}

.popover.left > .arrow:after {
  border-left-color: #565A5C;
}

.popovers-link:hover {
  cursor: pointer;
}

/** Button Styling **/
.btn-primary,
.btn-secondary {
  border: 1px solid;
  border-radius: 2px;
  line-height: 1em;
  margin: 0 15px 15px 0;
  padding: 14px 30px;
}

.btn-right {
  margin: 0 0 15px 15px;
}

/* Button Primary */
button.btn-primary {
  background-color: #006FBF;
  border-color: #006FBF;
  color: #FFFFFF;
  white-space: normal;
}

a.btn {color: white;}

button.btn-primary:hover, button.btn-primary:focus {
  background-color: #1C5295;
  border-color: #1C5295;
  color: #FFFFFF;
}

button.btn-primary:active, button.btn-primary:active:hover, button.btn-primary:active:focus {
  background-color: #006FBF;
  border-color: #46A661;
  color: #FFFFFF;
}

button.btn-primary:disabled, button.btn-primary[aria-expanded="true"] {
  background-color: rgba(0, 111, 191, 0.75);
  border-color: rgba(28, 82, 149, 0.75);
  color: #FFFFFF;
}

button.btn-primary:disabled:hover, button.btn-primary[aria-expanded="true"]:hover {
  background-color: rgba(0, 111, 191, 0.75);
  border-color: rgba(28, 82, 149, 0.75);
  color: #FFFFFF;
}

/* Button Secondary */
button.btn-secondary {
  background-color: #F2F3F5;
  border-color: #D3D9E3;
  color: #565A5C;
}

button.btn-secondary:hover, button.btn-secondary:focus {
  background-color: #E6EAF0;
  border-color: #D3D9E3;
  color: #565A5C;
}

button.btn-secondary:active, button.btn-secondary:active:hover, button.btn-secondary:active:focus {
  background-color: #E6EAF0;
  border-color: #D3D9E3;
  color: #565A5C;
}

button.btn-secondary:disabled, button.btn-secondary[aria-expanded="true"] {
  background-color: rgba(242, 243, 245, 0.75);
  border-color: rgba(211, 217, 227, 0.75);
  color: #565A5C;
}

button.btn-secondary:disabled:hover, button.btn-secondary[aria-expanded="true"]:hover {
  background-color: rgba(242, 243, 245, 0.75);
  border-color: rgba(211, 217, 227, 0.75);
  color: #565A5C;
}

/** Lists **/
ol,
ul {
  padding-left: 16px;
}

ol li,
ul li {
  padding-bottom: 10px;
}

/* Box Number List */
ol.box-number {
  counter-reset: li;
  padding-left: 48px;
}

ol.box-number li {
  list-style: none;
  padding-bottom: 12px;
  position: relative;
}

ol.box-number li:before {
  background-color: #46A661;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  content: counter(li);
  counter-increment: li;
  font-size: 1em;
  font-weight: bold;
  left: -48px;
  margin: 4px 8px 0 0;
  padding: 4px;
  position: absolute;
  text-align: center;
  top: -8px;
  width: 32px;
}

ol.box-number ol {
  counter-reset: item;
  padding-top: 16px;
}

ol.box-number ol li:before {
  content: counter(item);
  counter-increment: item;
}

ol.box-number ol {
  counter-reset: list;
}

ol.box-number ol li:before {
  content: counter(list, lower-alpha);
  counter-increment: list;
}

/* Icon List */
ul.list-icon {
  list-style-type: none;
}

ul.list-icon li {
  margin: 0 0 16px 40px;
  position: relative;
}

ul.list-icon span:before {
  font-size: 2em;
  margin-left: -40px;
  position: absolute;
  top: -5px;
}

ul.list-icon.list-check span:before {
  color: #006FBF;
}

ul.list-icon.list-cross span:before {
  color: #E57231;
}

/* Step List */
ol.list-step {
  counter-reset: elementcounter;
  list-style-type: none;
  padding: 0 0 0 16px;
}

ol.list-step li:before {
  content: "Step " counter(elementcounter);
  counter-increment: elementcounter;
  display: inline-block;
  font-weight: bold;
  padding: 5px;
}

ol.list-step p {
  padding-left: 16px;
}

/* Graphic Columns */
.graphic-col {
  margin-bottom: 30px;
}

.graphic-col .col-sm-2,
.graphic-col .col-sm-3,
.graphic-col .col-sm-4,
.graphic-col .col-sm-15,
.graphic-col .col-sm-6 {
  margin-bottom: 60px;
  padding: 0;
}

.graphic-col .col-sm-2:first-child,
.graphic-col .col-sm-3:first-child,
.graphic-col .col-sm-4:first-child,
.graphic-col .col-sm-15:first-child,
.graphic-col .col-sm-6:first-child {
  border-left: none;
}

.graphic-col p {
  margin: 20px 0;
}

.graphic-col h3 {
  margin-top: 0;
}

.graphic-col .eq-items .row {
  margin: 0;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .graphic-col .col-sm-2,
  .graphic-col .col-sm-3,
  .graphic-col .col-sm-4,
  .graphic-col .col-sm-15,
  .graphic-col .col-sm-6 {
    margin-bottom: 0;
  }
  .graphic-col .col-sm-2:last-child,
  .graphic-col .col-sm-3:last-child,
  .graphic-col .col-sm-4:last-child,
  .graphic-col .col-sm-15:last-child,
  .graphic-col .col-sm-6:last-child {
    border-right: none;
  }
  .graphic-col h3 {
    margin-top: 20px;
  }
}

/** Timeline **/
.timeline {
  list-style: none;
  padding-left: 0;
  position: relative;
}

.timeline:before {
  background-color: #E6EAF0;
  bottom: 0;
  content: " ";
  left: 40px;
  margin-left: -1px;
  position: absolute;
  top: 0;
  width: 2px;
}

.timeline > li {
  margin-bottom: 30px;
  position: relative;
  padding: 0;
}

.timeline > li:before, .timeline > li:after {
  border-left-width: 0;
  content: " ";
  display: table;
  right: auto;
}

.timeline > li:before {
  border-right-width: 15px;
  left: -15px;
}

.timeline > li:after {
  border-right-width: 14px;
  clear: both;
  left: -14px;
}

.timeline > li:last-child {
  padding-bottom: 0;
}

.timeline .timeline-badge {
  background-color: #46A661;
  border-radius: 15px;
  height: 15px;
  left: 33px;
  line-height: 50px;
  margin-left: 0;
  position: absolute;
  top: 34px;
  text-align: center;
  width: 15px;
  z-index: 100;
}

.timeline .timeline-panel {
  background-color: #F9FAFB;
  border: 1px solid #F2F3F5;
  float: right;
  padding: 20px;
  position: relative;
  width: calc(100% - 90px);
}

.timeline .timeline-panel:before, .timeline .timeline-panel:after {
  content: " ";
  display: inline-block;
  position: absolute;
}

.timeline .timeline-panel:before {
  border-top: 15px solid transparent;
  border-right: 15px solid #F9FAFB;
  border-bottom: 15px solid transparent;
  border-left: 0 solid #F9FAFB;
  left: -15px;
  right: auto;
  top: 26px;
}

.timeline .timeline-panel:after {
  border-top: 14px solid transparent;
  border-left: 0 solid #F2F3F5;
  border-right: 14px solid #F2F3F5;
  border-bottom: 14px solid transparent;
  left: -14px;
  right: auto;
  top: 27px;
}

@media screen and (min-width: 768px) {
  .timeline-alt:before {
    left: 50%;
  }
  .timeline-alt .timeline-badge {
    left: 50%;
    margin-left: -8px;
    top: 35px;
  }
  .timeline-alt .timeline-panel {
    float: left;
    width: 46%;
  }
  .timeline-alt .timeline-panel:before, .timeline-alt .timeline-panel:after {
    border-right-width: 0;
    left: auto;
  }
  .timeline-alt .timeline-panel:before {
    border-left-width: 15px;
    right: -15px;
  }
  .timeline-alt .timeline-panel:after {
    border-left-width: 14px;
    right: -14px;
  }
  .timeline-alt li:nth-child(even) .timeline-panel {
    float: right;
  }
  .timeline-alt li:nth-child(even) .timeline-panel:before, .timeline-alt li:nth-child(even) .timeline-panel:after {
    border-left-width: 0;
    right: auto;
  }
  .timeline-alt li:nth-child(even) .timeline-panel:before {
    border-right-width: 15px;
    left: -15px;
  }
  .timeline-alt li:nth-child(even) .timeline-panel:after {
    border-right-width: 14px;
    left: -14px;
  }
}

/** Tables **/
.table-responsive {
  margin-bottom: 20px;
}

.table {
  border-collapse: collapse;
  border-radius: 6px;
  border-spacing: 0;
  line-height: 1.25em;
  margin-bottom: 0;
}

.table > thead > tr > th,
.table > tbody > tr > td,
.table > tbody > tr > th {
  padding: 0 30px;
  border-right: 1px solid #D3D9E3;
}

.table > tbody > tr > td {
  border-bottom: 1px solid #D3D9E3;
}

.table > thead > tr > th,
.table > tbody > tr > th {
  vertical-align: middle;
}

.table > thead > tr > th:last-child,
.table > tbody > tr > td:last-child {
  border-right: 0;
}

.table > thead > tr > th {
  background-color: #006FBF;
  color: #FFFFFF;
  font-weight: 400;
  height: 60px;
  line-height: 2em;
  padding: 25px 20px 30px 30px;
}

.table > tbody > tr > th {
  font-weight: 400;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
  padding: 25px;
}

.table ul,
.table ol {
  padding-left: 16px;
}

/* Table: Click & Reveal */
.table-reveal .btn-secondary {
  margin-bottom: 0;
}

.table-reveal th:first-child {
  width: 20%;
}

/** Wells **/
.well {
  /*border: 1px solid $bg-color-secondary-one;*/
  border-radius: 0;
  box-shadow: none;
  margin: 30px 0;
  padding: 20px 15px;
}

.well .well-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.well .well-text h1,
.well .well-text h2,
.well .well-text h3,
.well .well-text p,
.well .well-text ol,
.well .well-text ul {
  color: #FFFFFF;
}

.well h2:first-child,
.well h3:first-child,
.well h4:first-child,
.well h5:first-child,
.well h6:first-child,
.well p:first-child {
  color: #FFFFFF;
}

.well p:last-child,
.well ol:last-child,
.well ul:last-child,
.well ol:last-child li:last-child,
.well ul:last-child li:last-child {
  color: #FFFFFF;
}

.well.well-graphic-q {
  border: none;
}

@media screen and (min-width: 554px) {
  .well-graphic {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .well-graphic .well-text {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .well-graphic-q {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: none;
    padding-left: 0;
  }
  .well-graphic-q .panel-reveal {
    border: 1px solid #E6EAF0;
  }
  .well-graphic-q .panel {
    border: none;
    margin-bottom: 0;
  }
}

/** Jumbotron **/
.jumbotron {
  background-color: #F2F3F5;
  border: 1px solid #E6EAF0;
  border-radius: 0;
}

.jumbotron p {
  font-weight: 400;
}

/** Two Column Panels **/
.two-col-panels .row {
  margin-right: 0;
  margin-left: 0;
}

.two-col-panels .eq-items {
  border: 1px solid #E6EAF0;
  margin-bottom: 20px;
  padding: 20px;
}

.two-col-panels .eq-items:first-child {
  background-color: #F2F3F5;
}

@media screen and (min-width: 768px) {
  .two-col-panels .eq-items {
    width: 48%;
  }
  .two-col-panels .eq-items:first-child {
    margin-right: 2%;
  }
  .two-col-panels .eq-items:last-child {
    margin-left: 2%;
  }
}

/** Stacked Panels **/
.stacked-panels .stacked-panel {
  border: 1px solid #E6EAF0;
  margin-bottom: 20px;
  padding: 20px;
}

.stacked-panels .stacked-panel:first-child {
  background-color: #F2F3F5;
}

/* Accordion: Standard */
.accordion .panel .panel-heading {
  border-bottom: 1px solid #E6EAF0;
  padding: 0;
}

.accordion .panel .panel-title a {
  display: block;
  font-size: 1.25em;
  padding: 18px 15px 18px 45px;
  position: relative;
  text-decoration: none;
}

.accordion .panel .panel-title a:before {
  content: "";
  height: 18px;
  width: 18px;
  position: absolute;
  left: 15px;
  top: 25px;
}

.accordion .panel .panel-title a[aria-expanded="true"]:before {
  background: url("../../../assets/img/icons-ui/icons-tier2/chevron-down-medium.svg");
}

.accordion .panel .panel-title a[aria-expanded="false"]:before {
  background: url("../../../assets/img/icons-ui/icons-tier2/chevron-right.svg");
}

.accordion .panel .panel-collapse {
  background-color: #F2F3F5;
}

/* Accordion: Numbered */
.accordion-num {
  counter-reset: accordion;
}

.accordion-num .panel .panel-number {
  padding-left: 40px;
  position: relative;
}

.accordion-num .panel .panel-number:before {
  background-color: #006FBF;
  color: #FFFFFF;
  font-size: 1.25em;
  font-weight: 700;
  counter-increment: accordion;
  content: counter(accordion);
  height: 100%;
  padding: 19px 0 0 13px;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
}

/** Tabs **/
.tab .nav > li {
  padding: 0;
}

.tab .nav > li > a {
  background-color: #F2F3F5;
  border-bottom: 1px solid #E6EAF0;
  color: #565A5C;
  padding: 20px;
  text-align: center;
}

.tab .nav > li > a:hover {
  background-color: #E6EAF0;
}

.tab .nav > li.active > a,
.tab .nav > li > a:active,
.tab .nav > li > a:focus {
  background-color: #006FBF;
  color: #FFFFFF;
}

.tab .nav > li:last-child > a {
  border-bottom: none;
}

.tab .tab-pane {
  padding: 30px 0;
}

.tab .tab-pane h2:first-child,
.tab .tab-pane h3:first-child,
.tab .tab-pane h4:first-child,
.tab .tab-pane h5:first-child,
.tab .tab-pane h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

/* Tabs: Vertical */
@media screen and (min-width: 768px) {
  .tab-vert .tab-pane {
    padding-top: 0;
  }
}

/* Tabs: Horizontal */
.tab-horz .nav.row {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .tab-horz .nav .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .tab-horz .nav > li > a {
    border-bottom: none;
    border-right: 1px solid #E6EAF0;
  }
  .tab-horz .nav > li:last-child > a {
    border: none;
  }
}

/* Tabs: Graphic */
.tab-graphic .tabs-graphic a {
  text-align: center;
}

.tab-graphic .tabs-graphic a:hover h2,
.tab-graphic .tabs-graphic a:hover h3,
.tab-graphic .tabs-graphic a:hover h4,
.tab-graphic .tabs-graphic a:hover h5,
.tab-graphic .tabs-graphic a:hover h6,
.tab-graphic .tabs-graphic a:focus h2,
.tab-graphic .tabs-graphic a:focus h3,
.tab-graphic .tabs-graphic a:focus h4,
.tab-graphic .tabs-graphic a:focus h5,
.tab-graphic .tabs-graphic a:focus h6,
.tab-graphic .tabs-graphic a:active h2,
.tab-graphic .tabs-graphic a:active h3,
.tab-graphic .tabs-graphic a:active h4,
.tab-graphic .tabs-graphic a:active h5,
.tab-graphic .tabs-graphic a:active h6,
.tab-graphic .tabs-graphic a.active h2,
.tab-graphic .tabs-graphic a.active h3,
.tab-graphic .tabs-graphic a.active h4,
.tab-graphic .tabs-graphic a.active h5,
.tab-graphic .tabs-graphic a.active h6 {
  color: #006FBF;
  text-decoration: underline;
}

.tab-graphic .tabs-graphic a .row {
  border-bottom: 1px solid #E6EAF0;
  margin: 0;
}

.tab-graphic .tabs-graphic h2,
.tab-graphic .tabs-graphic h3,
.tab-graphic .tabs-graphic h4,
.tab-graphic .tabs-graphic h5,
.tab-graphic .tabs-graphic h6 {
  margin: 0;
  padding: 15px 0;
}

.tab-graphic .content-graphic .tab-pane {
  background-color: #F9FAFB;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .tab-graphic .tabs-graphic a .row {
    border-bottom: none;
  }
  .tab-graphic .tabs-graphic a .col-xs-12 {
    padding: 0;
  }
  .tab-graphic .tabs-graphic .col-sm-2,
  .tab-graphic .tabs-graphic .col-sm-3,
  .tab-graphic .tabs-graphic .col-sm-4,
  .tab-graphic .tabs-graphic .col-sm-15,
  .tab-graphic .tabs-graphic .col-sm-6 {
    border-right: 1px solid #E6EAF0;
    margin-bottom: 0;
  }
  .tab-graphic .tabs-graphic .col-sm-2:last-child,
  .tab-graphic .tabs-graphic .col-sm-3:last-child,
  .tab-graphic .tabs-graphic .col-sm-4:last-child,
  .tab-graphic .tabs-graphic .col-sm-15:last-child,
  .tab-graphic .tabs-graphic .col-sm-6:last-child {
    border-right: none;
  }
  .tab-graphic .content-graphic .tab-pane {
    border-top: 1px solid #E6EAF0;
  }
}

/* Flip Card */
.card {
  display: block;
  margin-bottom: 60px;
  max-width: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -ms-perspective: 1000px;
  vertical-align: top;
}

.card button {
  border: none;
  padding: 0;
 }

.card .content {
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -ms-backface-visibility: visible;
  position: relative;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  width: 100%;
}

.card .content .card-front,
.card .content .card-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -ms-backface-visibility: visible;
  background-color: #F2F3F5;
  border: 1px solid #E6EAF0;
  height: 100%;
  left: 0;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.card .content .card-front p,
.card .content .card-front h2,
.card .content .card-front h3,
.card .content .card-front h4,
.card .content .card-front h5,
.card .content .card-front h6,
.card .content .card-back p,
.card .content .card-back h2,
.card .content .card-back h3,
.card .content .card-back h4,
.card .content .card-back h5,
.card .content .card-back h6 {
  padding-left: 15px;
  padding-right: 15px;
}

.card .content .card-front,
.card.apply-flip .content .card-front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
}

.card .content .card-back,
.card.apply-flip .content .card-back {
  background-color: white;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
}

.card .content .card-front,
.card.apply-flip .content .card-back {
  -webkit-animation: stayvisible 0.5s both;
          animation: stayvisible 0.5s both;
  -ms-animation: donothing 0.5s;
  -ms-transition: visibility 0s linear 0.17s;
  visibility: visible;
}

.card .content .card-back,
.card.apply-flip .content .card-front {
  -webkit-animation: stayvisible 0.5s both;
          animation: stayvisible 0.5s both;
  -ms-animation: donothing 0.5s;
  -ms-transition: visibility 0s linear 0.17s;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .col-sm-3 .card,
  .col-sm-4 .card,
  .col-sm-6 .card {
    margin: 0 auto 30px;
  }
  .col-sm-3 .card {
    max-width: 300px;
  }
  .col-sm-4 .card {
    max-width: 400px;
  }
  .col-sm-15 .card {
    max-width: 210px;
  }
  .col-sm-6 .card {
    max-width: 600px;
  }
}

.card.apply-flip .content {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}

@keyframes stayvisible {
  from,
  to {
    visibility: visible;
  }
}

@-webkit-keyframes stayvisible {
  from,
  to {
    visibility: visible;
  }
}/*** Layout ***/
/** Container **/
html,
body {
  height: 100%;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
}

/** Videos **/
.embed-responsive {
  margin-bottom: 15px;
}

/** Two Columns **/
@media screen and (min-width: 992px) {
  .two-columns {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

/** Images **/
figure {
  margin: 0 auto 15px;
}

.img-200 {
  max-width: 200px;
}

.img-300 {
  max-width: 250px;
}

.img-400 {
  max-width: 400px;
}

.img-500 {
  max-width: 500px;
}

.img-600 {
  max-width: 100%;
}

.pull-left,
.pull-right {
  float: none;
}

.pull-left img,
.pull-right img {
  margin: 0 auto 15px;
}

/* Image Media Query: min-width: 554px */
@media screen and (min-width: 554px) {
  figure {
    margin-bottom: 0;
  }
  .img-400 {
    max-width: 50%;
  }
  .img-500 {
    max-width: 60%;
  }
  .img-600 {
    max-width: 66%;
  }
  .pull-left {
    float: left;
  }
  .pull-left img {
    margin-bottom: 0;
    padding: 0 15px 10px 0;
  }
  .pull-left figcaption {
    padding: 0 15px 10px 0;
  }
  .pull-right {
    float: right;
  }
  .pull-right img {
    margin-bottom: 0;
    padding: 0 0 10px 15px;
  }
  .pull-right figcaption {
    padding: 0 0 10px 15px;
  }
}

/* Image Media Query: min-width: 768px */
@media screen and (min-width: 768px) {
  .img-300 {
    max-width: 300px;
  }
  .img-400 {
    max-width: 400px;
  }
  .img-500 {
    max-width: 500px;
  }
  .img-600 {
    max-width: 550px;
  }
}

/* Image Media Query: min-width: 992px */
@media screen and (min-width: 992px) {
  .img-600 {
    max-width: 600px;
  }
}

/** Helper Classes **/
.width-25 {
  width: 25%;
}

.width-33 {
  width: 33.333%;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

/** Equal Height Columns **/
@media screen and (min-width: 768px) {
  .eq-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .eq-items {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    vertical-align: baseline;
    margin-top: 30px;
  }
  .eq-items h1,
  .eq-items h2,
  .eq-items h3 {
    margin-top: 0px;
  }
  .eq-items img {
    margin-bottom: 30px;
  }
}

/** Grid System: Custom - 5 Equal Columns **/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15,
  .col-md-15,
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

/** Spacing Resets **/
.margin-horz-0 {
  margin-right: 0;
  margin-left: 0;
}

.all-spacing-0 {
  padding: 0;
  margin: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.timeline .timeline-heading h2:first-child,
.timeline .timeline-heading h3:first-child,
.timeline .timeline-heading h4:first-child,
.timeline .timeline-heading h5:first-child,
.timeline .timeline-heading h6:first-child, .well h2:first-child,
.well h3:first-child,
.well h4:first-child,
.well h5:first-child,
.well h6:first-child,
.well p:first-child, .two-col-panels h2:first-child,
.two-col-panels h3:first-child,
.two-col-panels h4:first-child,
.two-col-panels h5:first-child,
.two-col-panels h6:first-child, .stacked-panels .stacked-panel h2:first-child,
.stacked-panels .stacked-panel h3:first-child,
.stacked-panels .stacked-panel h4:first-child,
.stacked-panels .stacked-panel h5:first-child,
.stacked-panels .stacked-panel h6:first-child, .bg-color-primary-one h1:first-child,
.bg-color-primary-one h2:first-child,
.bg-color-primary-one h3:first-child,
.bg-color-primary-one h4:first-child,
.bg-color-primary-one h5:first-child,
.bg-color-primary-one h6:first-child,
.bg-color-primary-one p:first-child {
  margin-top: 0;
  padding-top: 0;
}

.timeline .timeline-body p:last-child,
.timeline .timeline-body ol:last-child,
.timeline .timeline-body ul:last-child,
.timeline .timeline-body ol:last-child li:last-child,
.timeline .timeline-body ul:last-child li:last-child, .table > tbody > tr > td p:last-child,
.table > tbody > tr > td ol:last-child,
.table > tbody > tr > td ul:last-child,
.table > tbody > tr > td ol:last-child li:last-child,
.table > tbody > tr > td ul:last-child li:last-child,
.table > tbody > tr > th p:last-child,
.table > tbody > tr > th ol:last-child,
.table > tbody > tr > th ul:last-child,
.table > tbody > tr > th ol:last-child li:last-child,
.table > tbody > tr > th ul:last-child li:last-child, .well p:last-child,
.well ol:last-child,
.well ul:last-child,
.well ol:last-child li:last-child,
.well ul:last-child li:last-child, .two-col-panels p:last-child,
.two-col-panels ol:last-child,
.two-col-panels ul:last-child,
.two-col-panels ol:last-child li:last-child,
.two-col-panels ul:last-child li:last-child, .stacked-panels .stacked-panel p:last-child,
.stacked-panels .stacked-panel ol:last-child,
.stacked-panels .stacked-panel ul:last-child,
.stacked-panels .stacked-panel ol:last-child li:last-child,
.stacked-panels .stacked-panel ul:last-child li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.padding-bot-0 {
  padding-bottom: 0;
}

.horz-sm {
  padding-left: 10px;
  padding-right: 10px;
}

.horz-md {
  padding-left: 20px;
  padding-right: 20px;
}

.horz-lg {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .horz-xl {
    padding-left: 95px;
    padding-right: 95px;
  }
}

.padright-0 {
  padding-right: 0px;
}

/** Spacing Classes **/
.top-sm {
  padding-top: 10px;
}

.top-md {
  padding-top: 20px;
}

.top-lg {
  padding-top: 30px;
}

.bot-sm {
  padding-bottom: 10px;
}

.bot-md {
  padding-bottom: 20px;
}

.bot-lg {
  padding-bottom: 30px;
}

.mid-sm {
  padding-bottom: 10px;
  padding-top: 10px;
}

.mid-md {
  padding-bottom: 20px;
  padding-top: 20px;
}

.mid-lg {
  padding-bottom: 30px;
  padding-top: 30px;
}

/** Line Height Spaces **/
.line-height-eq {
  line-height: 2rem;
}

/** Hidden Classes **/
@media (max-width: 554px) {
  .hide-xs {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-sm {
    display: none;
  }
}

@media (max-width: 992px) {
  .hide-md {
    display: none;
  }
}

@media (max-width: 1170px) {
  .hide-lg {
    display: none;
  }
}

/* Img Mod */
.topic-img-left,
.topic-img-top {
  overflow: hidden;
}

.topic-img-left img,
.topic-img-top img {
  position: absolute;
}

.topic-img-top {
  height: 150px;
}

@media (max-width: 768px) {
  .topic-img-left {
    height: 100px;
  }
}

/* Testing Custom Layouts to deal with 1170px wide Daylight Container */
.layout-1 .well-division,
.layout-2 .well-division {
  background-color: #008B85;
  border: none;
  color: #ffffff;
  margin: 0 auto;
}

.layout-1 .well-division .icon,
.layout-2 .well-division .icon {
  stroke: #ffffff;
  fill: #ffffff;
}

.layout-1 .row,
.layout-2 .row {
  max-width: 1170px;
}

.layout-1 .row-full,
.layout-2 .row-full {
  background-color: #008B85;
  margin: 30px auto;
}

.layout-1 .row {
  margin: 0 auto;
  max-width: 750px;
}

.layout-1 .row-full {
  margin: 30px auto;
  max-width: 1170px;
}

.layout-1 .well-division {
  max-width: 750px;
}

.layout-2 .well-division {
  max-width: 1170px;
}

.img-max-width {
  width: 100%;
}

/*=========Global Elements==========*/
html,
body {
  font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  color: #565A5C;
}

.icon {
  fill: #E57231;
  stroke: #E57231;
}

/*====== Typography =========*/
h1,
h2 {
  color: #565A5C;
}

ol.box-number li:before {
  background-color: #006FBF;
  color: #FFFFFF;
}

ul.list-icon.list-check span:before {
  color: #006FBF;
}

ul.list-icon.list-cross span:before {
  color: #CD2026;
}

/* Icon Lists */
.icon-list-check {
  list-style-type: none;
  padding-right: 1em;
  padding-left: 1em;
  overflow: hidden;
}

.icon-list-check li {
  margin-left: 40px;
  position: relative;
}

.icon-list-check li:before {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: #006FBF;
  margin: .2em .75em 1em 0;
  margin-left: -40px;
  position: absolute;
  top: -7px;
  -webkit-font-smoothing: antialiased;
}

.icon-list-check li:before {
  content: '\e013';
}

.bottom-md {
  margin-bottom: 30px;
}

.bottom-lg {
  margin-bottom: 60px;
}

/*======Program Level Changes=========*/
.well {
  background-color: #006FBF;
}

.well a {
  color: #FFFFFF;
}

.timeline .timeline-badge {
  background-color: #E57231;
}

.timeline .timeline-panel {
  background-color: #F9FAFB;
  border: 1px solid #F2F3F5;
}

.timeline .timeline-heading > h2,
.timeline .timeline-heading > h3 {
  color: #006FBF;
}

.tab .nav > li.active > a,
.tab .nav > li > a:active,
.tab .nav > li > a:focus {
  background-color: #006FBF;
  color: #FFFFFF;
}

/*==========Page Elements===========*/
.fullscreen-splash {
  position: relative;
  overflow: hidden;
  /*
  margin-left: -15px;
	margin-right: -15px;*/
}

.fullscreen-splash img {
  width: 100%;
  height: auto;
}

.fullscreen-splash .overlay-content {
  position: absolute;
  top: 25%;
  border-radius: 10px;
}

.bg-color-primary-one {
  padding: 30px;
  background-color: #006FBF;
}

.bg-color-primary-one h1,
.bg-color-primary-one h2,
.bg-color-primary-one h3,
.bg-color-primary-one p,
.bg-color-primary-one ul,
.bg-color-primary-one ol {
  color: #FFFFFF;
}

.banner-img {
  max-height: 400px;
  overflow: hidden;
}

.banner-img img {
  width: 100%;
}

.topic-img-left {
  overflow: hidden;
}

.topic-img-left img {
  position: absolute;
}

.photoframe {
  border: 1px solid #D3D9E3;
  text-align: center;
}

.photoframe img {
  width: 100%;
  margin-bottom: 5px;
}

.photoframe figcaption {
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
}

.image-wrap img {
  width: 100%;
}

.column-images img {
  width: 100%;
}

.conclusion-wrapper {
  position: relative;
  overflow: hidden;
}

.conclusion-wrapper img {
  width: 100%;
  height: auto;
}

.conclusion-wrapper .conclusion-content {
  background-color: #006FBF;
}

.conclusion-wrapper .overlay-content {
  position: absolute;
  top: 25%;
}

footer {
  border-top: 1px solid #B9C2D0;
  padding-top: 10px;
  text-align: right;
}

.video-wrapper {
  margin: 0 auto 15px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.table-responsive,
.table {
  overflow-y: hidden;
}

.table-responsive caption,
.table caption {
  vertical-align: middle;
  min-height: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #006FBF;
  color: #FFFFFF;
  border-bottom: 1px solid #D3D9E3;
}

/* Media Query for Large Screen */
@media screen and (min-width: 554px) {
  ul.list-column-2 {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

/* Media Query for Small Screen */
@media (max-width: 768px) {
  .topic-img-left {
    height: 400px;
  }
  .pull-left.image-wrap {
    margin-right: 1em;
  }
  .pull-right.image-wrap {
    margin-left: 1em;
  }
}

/* Media Query for Print */
@media print {
  .fullscreen-splash .overlay-content {
    position: relative;
  }
}

/* Add this class to hide elements on print */
@media print {
	.no-print {
		display: none;
		}
}

/* FormatModule.js Printing Options */
@media print {
#section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8, #section9, #section10, #section11, #section12, #section13, #section14, #section15, #section16, #section17, #section18, #section19, #section20, #section21, #section22, #section23, #section24, #section25, #section26, #section27, #section28, #section29, #section30, #section31, #section32, #section33, #section34, #section35, #section36, #section37, #section38, #section39, #section40, #section41, #section42, #section43, #section44, #section45, #section46, #section47, #section48, #section49, #section50, #section51, #section52, #section53, #section54, #section55, #section56, #section57, #section58, #section59, #section60, #section61, #section62, #section63, #section64, #section65, #section66, #section67, #section68, #section69, #section70, #section71, #section72, #section73, #section74, #section75, #section76, #section77, #section78, #section79, #section80, #section81, #section82, #section83, #section84, #section85, #section86, #section87, #section88, #section89, #section90, #section91, #section92, #section93, #section94, #section95, #section96, #section97, #section98, #section99, #section100 {
	display: block;
	opacity: 1;
	}

#step1, #step2, #step3, #step4, #step5, #step6, #step7, #step8, #step9, #step10, #step11, #step12, #step13, #step14, #step15, #step16, #step17, #step18, #step19, #step20 {
  display: block !important;
  height: auto !important;
  opacity: 1;
 	}
}



.glyphicon {
    color: black;
    padding-right: 5%;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f6f6f6; /* Light Grey*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    margin-left: 250px;
    transition: margin-left .5s;
    padding: 20px;
}

/* Set mySidenav initial width */
#mySidenav {
    width: 250px;
}

/* Set sidenav title padding */
#mySidenav h4 {
    padding-left: 5%;
}

/* Closes sidenav for printing */
@media print {
    #mySidenav {
        width: 0;
    }
    #main {
        margin-left: 0;
    }
}
/*Robert May Style*/
table.robertmay {
	width: 80%;
	border: 0px;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}
table.robertmay td {
	border: 1px solid #ddd;
}

/*Table cell padding */
td {
	padding: 1%;
}

.glyphicon {padding-right: 2%;}

/* Remove URL from Print */
@media print {
a:after{content:" (" attr(href) ") "; display: none;}
}

/* Remove italics from address tag */
address {
font-style: normal;
}

@media print {

  [class*="col-sm-"] {
    float: left;
  }

  .col-sm-12 {
    width:100% !important;
  }

  .col-sm-11 {
    width:91.66666667% !important;
  }

  .col-sm-10 {
    width:83.33333333% !important;
  }

  .col-sm-9 {
    width:75% !important;
  }

  .col-sm-8 {
    width:66.66666667% !important;
  }

  .col-sm-7 {
    width:58.33333333% !important;
  }

  .col-sm-6 {
    width:50% !important;
  }

  .col-sm-5 {
    width:41.66666667% !important;
  }

  .col-sm-4 {
    width:33.33333333% !important;
  }

  .col-sm-3 {
    width:25% !important;
  }

  .col-sm-2 {
    width:16.66666667% !important;
  }

  .col-sm-1 {
    width:8.33333333% !important;
  }

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
  float: left !important;
  }

  body {
    margin: 0;
    padding: 0 !important;
    min-width: 768px;
  }

  .container-fluid {
    width: auto;
    min-width: 750px;
  }
}


.table-responsive {
  border: none;
}


/* Word Break all URLs */
#main a {
  word-break: break-word;
}

/*Next section button*/
.btn-bottom {
  background-color: #fcfcfc;
  margin-top: 3%;
  padding-top: 2%;
  padding-bottom: 3%;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #8b8b8b;
  border-radius: 0;
  font-size: 1em;
}

/*Previous Section button*/
.btn-top {
  background-color: #fcfcfc;
  margin-bottom: 3%;
  padding-top: 3%;
  padding-bottom: 2%;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #8b8b8b;
  border-radius: 0;
  font-size: 1em;
}

/*Module table of contents formatting*/
.moduletoc {
  list-style: none outside;
  padding-left: 0;
  margin-left: 0;
}

.moduletoc li {
  padding-bottom: 0;
  padding-top: 0;
}

/*Assignment Quicklinks*/
.quicklink li {padding: 0.3em; list-style-type: none;}
ul.quicklink {border-left: 1px solid #c6c6c6; padding: 0; border-right: 1px solid #c6c6c6; border-radius: 10px;}
.quicklink > li:first-child {border-top: 1px solid #c6c6c6; border-radius: 10px 10px 0 0;}
.quicklink li:last-child {border-radius: 10px;}
.quicklink li {border-bottom: 1px solid #c6c6c6;}
.quicklink ul li {padding: 0.15em; border: 0; list-style-type: none;}

/*Navbar Dropdown Submenus*/
.dropdown-submenu{position:relative}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;border-radius:0 4px 4px}
.dropdown-submenu:hover>.dropdown-menu{display:block}
@media (max-width:767px){.dropdown-submenu>.dropdown-menu{display:block}.dropdown-submenu>a{padding:14px 20px 3px!important;font-size:12px;line-height:1.428571429!important;color:#777!important;border-top:1px solid #e5e5e5;margin-top:9px}}
.dropdown-submenu>a>.caret{display:inline-block;-webkit-transform:rotate(270deg);transform:rotate(270deg);position:absolute;margin-top:-2px;right:8px;top:50%}
@media (max-width:767px){.dropdown-submenu>a>.caret{display:none!important}.break-xs{width:100%!important}}
.navbar-fixed-bottom .dropdown-submenu>.dropdown-menu{bottom:0;border-radius:4px 4px 4px 0}
.navbar-fixed-bottom .dropdown-submenu>a>.caret{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.navbar-right .dropdown-submenu>.dropdown-menu{right:100%;left:auto;margin-left:10px;border-radius:4px 0 4px 4px}

/*Add padding to table headers*/
.table-bordered th, td {padding: 2%;}

/* Remove Border from H5P iframes */
iframe[src^="/d2l"] {border: none;}

/*Module Title Formating*/
.divider {
  background-color: #662d91;
  width: 100%;
  border: 1px solid #662d91;
  margin: 1em auto;
}

.section-block {
  text-align: center;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background-color: #f6f6f6;
}
